alabaster==0.7.12
asn1crypto==0.24.0
Beaker==1.10.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
Flask==1.0.2
Flask-pyoidc==2.0.0
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.0.7
MarkupSafe==1.1.1
oic==0.12.0
pycparser==2.19
pycryptodomex==3.7.3
pyjwkest==1.4.0
pyOpenSSL==19.0.0
requests==2.21.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.3
